*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI,sans-serif;
    background:#0f172a;
    color:white;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:#111827;
    padding:30px;
}

.sidebar h2{
    color:#38bdf8;
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px;
    margin-bottom:10px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.sidebar li:hover{
    background:#1e293b;
}

.active{
    background:#1e293b;
}

.main-content{
    flex:1;
    padding:40px;
}

header h1{
    margin-bottom:10px;
}

header p{
    color:#94a3b8;
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:18px;
    box-shadow:0 4px 15px rgba(0,0,0,.3);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#38bdf8;
}

.card p{
    margin-top:15px;
    font-size:2rem;
    font-weight:bold;
}
.task-section{
    margin-top:40px;
}

.task-section h2{
    margin-bottom:20px;
}

.task-form{
    display:flex;
    gap:10px;
    margin-bottom:20px;
    flex-wrap:wrap;
}

.task-form input,
.task-form select{
    padding:12px;
    border:none;
    border-radius:10px;
    background:#1e293b;
    color:white;
}

.task-form button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

.task-item{
    background:#1e293b;
    padding:15px;
    margin-bottom:10px;
    border-radius:12px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.task-left{
    display:flex;
    gap:10px;
    align-items:center;
}

.completed{
    text-decoration:line-through;
    opacity:0.6;
}

.delete-btn{
    background:#ef4444;
    border:none;
    color:white;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
}
.exam-section{
    margin-top:40px;
}

.exam-form{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom:20px;
}

.exam-form input,
.exam-form select{
    padding:12px;
    border:none;
    border-radius:10px;
    background:#1e293b;
    color:white;
}

.exam-form button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

.exam-card{
    background:#1e293b;
    padding:15px;
    border-radius:12px;
    margin-bottom:12px;
}

.warning{
    color:#ef4444;
    font-weight:bold;
}
